<div class="sign-up-1">
  <h3>Edita tu cuenta <%= resource_name.to_s.humanize %></h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, :placeholder => "Correo electrónico" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off" :placeholder => "Contraseña (deja en blanco si no quieres cambiarla)" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off" :placeholder => "Confirmar contraseña" %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off" :placeholder => "Contraseña actual (la necesitamos para confirmar los cambios)" %>
    </div>

    <div class="actions">
      <%= f.submit "Editar" %>
    </div>
  <% end %>

  <h3>Eliminar mi cuenta</h3>

  <p>Unhappy? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro de que deseas eliminar tu cuenta?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
