
<div class="sign-in-1">
	<h3>Reenviar instrucciones de desbloqueo</h3>

	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Reenviar instrucciones" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>